# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller & Build artifacts
build/
dist/
*.manifest
*.spec

# Keep compiled release distribution executables if committed
!StorageRelief.exe
!StorageRelief_Setup.exe

# Inno Setup output
_IS_temp/

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE / Editor configuration
.idea/
.vscode/
*.swp
*.swo

# OS specific files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Log files
*.log
scratch/
tmp/
